In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/salaly-prediction-for-beginer/Salary Data.csv

In [2]:
#IMPORTING LIBRARIES

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv("/kaggle/input/salaly-prediction-for-beginer/Salary Data.csv")
dataset.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [4]:
dataset.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

In [6]:
dataset.dropna(inplace=True)

In [7]:
dataset.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [8]:
dataset.drop(columns=['Gender','Age','Job Title'], axis=1, inplace=True)

In [9]:
dataset.head()

  Education Level  Years of Experience    Salary
0      Bachelor's                  5.0   90000.0
1        Master's                  3.0   65000.0
2             PhD                 15.0  150000.0
3      Bachelor's                  7.0   60000.0
4        Master's                 20.0  200000.0

In [10]:
dataset['Education Level'].unique()

array(["Bachelor's", "Master's", 'PhD'], dtype=object)

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['Education Level'] = le.fit_transform(dataset['Education Level'])

In [12]:
dataset.head()

   Education Level  Years of Experience    Salary
0                0                  5.0   90000.0
1                1                  3.0   65000.0
2                2                 15.0  150000.0
3                0                  7.0   60000.0
4                1                 20.0  200000.0

In [13]:
from sklearn.model_selection import train_test_split
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=101)
print(xtrain.shape)
print(ytrain.shape)
print(xtest.shape)
print(ytest.shape)

(298, 2)
(298,)
(75, 2)
(75,)

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(xtrain, ytrain)
y_pred = lr.predict(xtest)

In [15]:
result = pd.DataFrame(ytest, y_pred, columns=['actual'])
result.head()

                 actual
100780.180730  105000.0
40393.886143    40000.0
69930.921823    55000.0
58116.107551    50000.0
52208.700415    45000.0

In [16]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error,mean_squared_error
print('MAE: ',mean_absolute_error(ytest,y_pred))
print('MAE%: ', mean_absolute_percentage_error(ytest,y_pred))
print('Accuracy: ', (1-mean_absolute_percentage_error(ytest,y_pred))*100)

MAE:  9268.28366050261
MAE%:  0.11014508705412379
Accuracy:  88.98549129458762